.vscode/
wedding_testset/

__pycache__manual_design/
venv/
manual_design/
street_testset/
portrait_testset/
object_testset/
__pycache__/

frontend/node_modules/
frontend/dist/

backend/uploads/
backend/outputs/


